<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>People Finder</title>
        <link rel="stylesheet" href="{% static 'lru_web_app/css/styles.css' %}">
    </head>
    <body>
        <h1>People Finder</h1>
        <ul>
            {% for person in page_obj %}
                <li><a href="{% url 'person_page' person.name person.city %}">{{person.name}} from {{person.city}}</a><li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <button onclick='window.location.href="?page=1";'>First</button>
                    <button onclick='window.location.href="?page={{ page_obj.previous_page_number }}";'>Previous</button>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <button onclick='window.location.href="?page={{ page_obj.next_page_number }}";'>Next</button>
                    <button onclick='window.location.href="?page={{ page_obj.paginator.num_pages }}";'>Last</button>
                {% endif %}
            </span>
        </div>
    </body>
</html>